<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-success bg-gradient p-5">

<div class="container bg-white p-4 rounded shadow">

<h3 class="text-success">🌱 Soil History Records</h3>

<table class="table table-bordered table-striped">

<tr>
<th>pH</th>
<th>Moisture</th>
<th>Soil</th>
<th>Crop</th>
</tr>

{% for row in data %}
<tr>
<td>{{row[1]}}</td>
<td>{{row[2]}}</td>
<td>{{row[6]}}</td>
<td>{{row[7]}}</td>
</tr>
{% endfor %}

</table>

<a href="/" class="btn btn-success mt-3">Back</a>

</div>

</body>
</html>
