<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
body{
    background: url("https://images.unsplash.com/photo-1464226184884-fa280b87c399") no-repeat center center/cover;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

body::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.55); /* dark overlay */
    backdrop-filter: blur(4px);
}

.card{
    position:relative;
    z-index:2;
}


</style>
</head>

<body>

<div class="card bg-white shadow">

<!-- Language Dropdown -->
<form method="get" class="mb-3 text-end">
<select name="lang" onchange="this.form.submit()" class="form-select w-50 ms-auto">
<option value="en" {% if lang=='en' %}selected{% endif %}>English</option>
<option value="ta" {% if lang=='ta' %}selected{% endif %}>தமிழ்</option>
</select>
</form>

<h4 class="text-success text-center">{{t.title}}</h4>

<form action="/analyze?lang={{lang}}" method="post">

<label>{{t.ph}}</label>
<input name="ph" class="form-control mb-2">

<label>{{t.moisture}}</label>
<input name="moisture" class="form-control mb-2">

<div class="row mb-2">
<div class="col">
<label>{{t.n}}</label>
<input name="n" class="form-control">
</div>

<div class="col">
<label>{{t.p}}</label>
<input name="p" class="form-control">
</div>

<div class="col">
<label>{{t.k}}</label>
<input name="k" class="form-control">
</div>
</div>

<button class="btn btn-success w-100">{{t.analyze}}</button>

<button type="button" onclick="startVoice()" class="btn btn-warning w-100 mt-2">
 (Voice Input)
</button>

</form>

<br>
<a href="/history?lang={{lang}}" class="btn btn-outline-success w-100">{{t.history}}</a>

</div>
<script>

function startVoice(){

const recognition = new(window.SpeechRecognition || window.webkitSpeechRecognition)();

recognition.lang = "ta-IN";   // Tamil
recognition.start();

recognition.onresult = function(event){

let text = event.results[0][0].transcript;
alert("நீங்கள் சொன்னது: " + text);

// extract numbers
let nums = text.match(/\d+(\.\d+)?/g);

if(nums && nums.length >= 5){
document.querySelector('[name="ph"]').value = nums[0];
document.querySelector('[name="moisture"]').value = nums[1];
document.querySelector('[name="n"]').value = nums[2];
document.querySelector('[name="p"]').value = nums[3];
document.querySelector('[name="k"]').value = nums[4];
}
}

}

</script>
<div style="text-align:center; margin-top:25px;">
    <p style="color:white;">📱 Scan to open on mobile</p>
    <img src="/static/qr.png" width="140">
</div>

</body>
</html>
